{% extends "layout.html" %}

{% block pageTitle %}
  Evidence Locker
{% endblock %}

{% block content %}
<div id="overlay-video-player" onclick="hidePlayer()">
	<div id="overlay-video-vertical-frame">
		<video id="overlay-video-vertical"> <source  src="/public/videos/Castle-Mound-1.m4v" type='video/mp4'> </video>
	</div>
</div>
{% include "includes/subHeader.html" %}

{% if documents|length > 0 %}
<h2 class="heading-font-27">Documents</h2>
<div class="documents-container">
	{% for document in documents %}
		{% include "includes/documentBlock.html" %}
	{% endfor %}
</div>
{% endif %}
{% if videos|length > 0 %}
<h2 class="heading-font-27">Videos</h2>
<div class="documents-container">
	{% for video in videos %}
		{% include "includes/videoBlock.html" %}
	{% endfor %}
</div>
{% endif %}
<script>
	var video = document.getElementById('overlay-video-vertical');

	video.addEventListener('ended', hidePlayer);
	video.onclick = hidePlayer;

	var showPlayer = (file_url) => {
		document.getElementById('overlay-video-player').style.display = 'block';
		var source = document.createElement('source');
		source.setAttribute('src', file_url);
		video.appendChild(source);
		video.load();
		video.play();
	}

	var hidePlayer = () => {
		document.getElementById('overlay-video-player').style.display = 'none';
		video.textContent = '';
		video.pause();
	}
</script>
<script>
	var logo_text = document.getElementsByClassName("govuk-header__logotype-text")[0]
	logo_text.innerHTML = "CUMSA.ORG"
</script>
{% endblock %}


